.hover-opacity:hover {
    opacity: 0.75;
  }

/* Home */
.homebubble1 {
    position: absolute;
    width: 50%;
    right: 0;
}

.homebubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.homebubble3 {
    position: absolute;
    width: 35%;
    left: 0;
    top: 160rem;
}

/* About */
.aboutbubble1 {
    position: absolute;
    width: 40%;
    right: 0;
}
.aboutbubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.aboutbubble3 {
    position: absolute;
    width: 15%;
    left: 0;
    top: 10rem;
}

/* Gallery */
.gallerybubble1 {
    position: absolute;
    width: 40%;
    right: 0;
}
.gallerybubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.gallerybubble3 {
    position: absolute;
    width: 20%;
    left: 0;
    top: 16rem;
}

/* article */
.articlebubble1 {
    position: absolute;
    width: 25%;
    right: 0;
}
.articlebubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.articlebubble3 {
    position: absolute;
    width: 15%;
    left: 0;
    top: 8rem;
}

/* Contact */
.contactbubble1 {
    position: absolute;
    width: 30%;
    right: 0;
}
.contactbubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.contactbubble3 {
    position: absolute;
    width: 20%;
    left: 0;
    top: 12rem;
}
.ph {
    border-color: #54BAEB !important;
}
.em {
    border-color: #54BAEB !important;
}
.loc {
    border-color: #54BAEB !important;
}


/* Read */
.readbubble1 {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
}
.readbubble2 {
    position: absolute;
    width: 10%;
    left: 2rem;
    top: 2rem;
}
.readbubble3 {
    position: absolute;
    width: 15%;
    left: 0;
    top: 8rem;
}
.par {
        text-align: justify !important;
}


@media screen and (min-width: 320px) {
    /* Home */
    .galeri {
        color: #1C2661;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .galeri .title {
        font-size: 23px !important;
    }
    /* .galeri .sub-title {
        font-size: 13px;
    } */
    .seeall {
        font-size: 12px;
    }

    /* About */
    .sub-title {
        font-size: 16px ;
        color: #1C2661;
    }

    /* Article */
    .big-card .date {
        font-size: 13px;
    }
    .big-card .card-title {
        font-size: 16px;
    }
    .big-card .card-text {
        font-size: 13px;
        text-align: justify !important
    }
    .big-card .more {
        font-size: 13px;
    }

    /* Read */
    .read {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .date {
        font-size: 13px;
        color: #619AEF;
    }
    .title {
        font-size: 16px;
        color: #1C2661;
    }
    .text {
        font-size: 13px;
        color: #3A3B41;
    }
}

@media screen and (min-width: 768px) {
    /* Home */
    .galeri {
        color: #1C2661;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .galeri .title {
        font-size: 35px !important;
    }
    .galeri .sub-title {
        font-size: 20px;
    }
    .seeall {
        font-size: 16px;
    }

    /* About */
    .sub-title {
        font-size: 24px;
    }

    /* Article */
    .article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .big-card .date {
        font-size: 16px;
    }
    .big-card .card-title {
        font-size: 24px;
    }
    .big-card .card-text {
        font-size: 16px;
        text-align: justify !important;
    }
    .big-card .more {
        font-size: 16px;
    }

    /* Read */
    .read {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .date {
        font-size: 16px;
        color: #619AEF;
    }
    .title {
        font-size: 35px;
        color: #1C2661;
    }
    .text {
        font-size: 16px;
        color: #3A3B41;
    }
}

@media screen and (min-width: 1024px) {

}